@charset "utf-8";

/* base
================================================== */
body, h1, h2, p, ul, li, figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.0rem;
  line-height: 1.7;
  color: #302833;
  background-color: #fffffc;
}
img {
  max-width: 100%;
}
img, svg, iframe {
  vertical-align: bottom;
}


/* header
================================================== */
.pileup {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  text-align: center;
  letter-spacing: .1em;
}
.pileup:nth-of-type(even) {
  color: #fffffc;
  background-color: #302833;
}
.pileup:nth-of-type(odd) {
  color: #302833;
  background-color: #fffffc;
}
.subTitle {
  font-weight: bold;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .siteTitle,
  .subTitle {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .siteTitle,
  .subTitle {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .siteTitle,
  .subTitle {
    font-size: 5.3rem;
  }
}


/* main
================================================== */
.main__inner {
  margin: 0 auto;
  padding: 10em 1em 15em;
}
.main a {
  text-decoration: none;
}
.main a,
.main a:link {
  font-weight: bold;
  color: #192f60;
}
.main a:visited {
  color: #551A8B;
}
.main a:hover {
  opacity: .7;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .main__inner {
    width: 90%;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .main__inner {
    width: 85%;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .main__inner {
    width: 990px;
  }
}


/* contents
================================================== */
.contents {
  font-size: 1.6rem;
  margin-bottom: 100px;
}
.content {
  padding: 300px 1em 500px;
  text-align: center;
}
.postDescription a {
  text-decoration: none;
  color: inherit;
}
.postDescription a:hover {
  opacity: .7;
}


/* footer
================================================== */
.footer {
  padding-top: 10px;
  background-image: url(../img/line-blue-bumpy-bottom.png);
}
.footer__inner {
  padding: 100px 1.5em 1em;
  text-align: center;
  background-image: linear-gradient(#192f60, #09182e);
}
.profile {
  margin-bottom: 100px;
}
.backSignboard {
  margin-bottom: 15px;
}
.backSignboard__link:hover {
  opacity: .7
}
.backSignboard__logo {
  width: 250px;
  height: auto;
}
.office {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: .1em;
  color: #fffffc;
}
.office a {
  text-decoration: none;
  color: inherit;
}
.office a:hover {
  opacity: .7
}
.copyright {
  color: #fffffc;
}
.copyrightHolder {
  text-decoration: none;
  color: inherit;
}
