@charset "utf-8";

/* base
================================================== */
body, h1, h2, p, ul, li, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  height: inherit;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.0rem;
  line-height: 1.7;
  color: #302833;
  background-color: #fffffc;
}
img {
  max-width: 100%;
}
img, svg, iframe {
  vertical-align: bottom;
}


/* header
================================================== */
.header {
  margin-bottom: 10em;
  background-color: #192f60;
  background-image: linear-gradient(#09182e, #192f60);
}
.header__container {
  padding: 3em 1em;
  background-image: url(../img/line-blue-bumpy-top.png);
  background-repeat: repeat-x;
  background-position: bottom;
}
.siteTitle {
  letter-spacing: .1em;
  text-align: center;
  color: #fffffc;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .siteTitle {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .siteTitle {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .siteTitle {
    font-size: 3.8rem;
  }
}


/* main
================================================== */
.main {
  margin-bottom: 15em;
}
.main__inner {
  margin: 0 auto;
  padding: 0 1em;
}
.main a {
  text-decoration: none;
}
.main a,
.main a:link {
  font-weight: bold;
  color: #192f60;
}
.main a:visited {
  color: #551A8B;
}
.main a:hover {
  opacity: .7;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .main__inner {
    width: 90%;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .main__inner {
    width: 85%;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .main__inner {
    width: 990px;
  }
}


/* contents
================================================== */
.contents {
  font-size: 1.6rem;
  margin-bottom: 100px;
}
.postPageBack {
  padding: 300px 1em 500px;
  text-align: center;
}
.postPageBackParagraph a {
  text-decoration: none;
  color: inherit;
}
.postPageBackParagraph a:hover {
  opacity: .7;
}


/* demo
================================================== */
.demo {
  margin: 3em 0 1em;
  border-radius: 4px;
  background-color: #f09199;
}
.demo h1 {
  font-size: 1.6rem;
}

/* demo--header1 */
.demo--header1 .title {
  padding: 2em 1em;
  text-align: center;
}
/* demo--header2 */
.demo--header2 {
  height: 100px;
}
.demo--header2 .title {
  line-height: 100px;
  text-align: center;
}
/* demo--header3 */
.demo--header3 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* demo--header4 */
.demo--header4 {
  height: 100px;
  display: grid;
  place-items: center;
}
/* demo--header5 */
.demo--header5 {
  height: 100px;
  text-align: center;
}
.demo--header5 .header__inner {
  display: inline-block;
  height: inherit;
}
.demo--header5 .title {
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}


/* footer
================================================== */
.footer {
  padding-top: 10px;
  background-image: url(../img/line-blue-bumpy-bottom.png);
}
.footer__inner {
  padding: 100px 1.5em 1em;
  text-align: center;
  background-image: linear-gradient(#192f60, #09182e);
}
.profile {
  margin-bottom: 100px;
}
.backSignboard {
  margin-bottom: 15px;
}
.backSignboard__link:hover {
  opacity: .7
}
.backSignboard__logo {
  width: 250px;
  height: auto;
}
.office {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: .1em;
  color: #fffffc;
}
.office a {
  text-decoration: none;
  color: inherit;
}
.office a:hover {
  opacity: .7
}
.copyright {
  color: #fffffc;
}
.copyrightHolder {
  text-decoration: none;
  color: inherit;
}
