@charset "utf-8";

/* base
================================================== */
body, h1, h2, p, ul, li, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 1.0rem;
  line-height: 1.7;
  color: #302833;
  background-color: #fffffc;
}
h1 {
  line-height: 1;
}
img {
  max-width: 100%;
}
img, svg {
  vertical-align: bottom;
}


/* header
================================================== */
.header {
  margin-bottom: 10em;
  background-color: #192f60;
  background-image: linear-gradient(#09182e, #192f60);
}
.header__container {
  padding: 3em 1em;
  background-image: url(../img/line-blue-bumpy-top.png);
  background-repeat: repeat-x;
  background-position: bottom;
}
.siteTitle {
  letter-spacing: .1em;
  text-align: center;
  color: #fffffc;
}
@media screen and (max-width: 576px) { /* スマホ用 */
  .siteTitle {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 991px) { /* タブレット用 */
  .siteTitle {
    font-size: 2.2rem;
  }
  .brNone {
    display: none;
  }
}
@media screen and (min-width: 992px) { /* それ以外用 */
  .siteTitle {
    font-size: 3rem;
  }
  .brNone {
    display: none;
  }
}


/* main
================================================== */
.main {
  margin-bottom: 15em;
}
.main__inner {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
}


/* contents
================================================== */
.contents {
  font-size: 1.6rem;
  margin-bottom: 100px;
}
.heading-2 {
  font-size: 2rem;
  margin-bottom: 2em;
  padding: .5em 1em;
  text-align: center;
  color: #fffffc;
  background-color: #192f60;
  border-radius: 4px;
}
.postPageBack {
  padding: 300px 1em 500px;
  text-align: center;
}
.postPageBackParagraph a {
  text-decoration: none;
}
.postPageBackParagraph a,
.postPageBackParagraph a:link {
  font-weight: bold;
  color: #192f60;
}
.postPageBackParagraph a:visited {
  color: #551A8B;
}
.postPageBackParagraph a:hover {
  opacity: .7;
}


/* flexDemo
================================================== */
.flexDemo {
  width: 100%;
  height: 100px;
  margin: 0 auto 100px;
  display: flex;
  background-color: #302833;
}

.flexGrowDemo1-left {
  flex-grow: 1;
  background-color: #c53d43;
}
.flexGrowDemo1-right {
  flex-grow: 1;
  background-color: #274a78;
}

.flexGrowDemo2-left {
  flex-grow: 2;
  background-color: #c53d43;
}
.flexGrowDemo2-right {
  flex-grow: 1;
  background-color: #274a78;
}

.flexGrowDemo3-left {
  flex-grow: 1;
  background-color: #c53d43;
}
.flexGrowDemo3-right {
  flex-grow: 0;
  background-color: #274a78;
}

.flexShrinkDemo1-left {
  width: 100%;
  flex-shrink: 1;
  background-color: #c53d43;
}
.flexShrinkDemo1-right {
  width: 100%;
  flex-shrink: 1;
  background-color: #274a78;
}

.flexShrinkDemo2-left {
  width: 100%;
  flex-shrink: 2;
  background-color: #c53d43;
}
.flexShrinkDemo2-right {
  width: 100%;
  flex-shrink: 1;
  background-color: #274a78;
}

.flexShrinkDemo3-left {
  width: 100%;
  flex-shrink: 1;
  background-color: #c53d43;
}
.flexShrinkDemo3-right {
  width: 100%;
  flex-shrink: 0;
  background-color: #274a78;
}

.flexBasisDemo1-left {
  flex-basis: 100px;
  background-color: #c53d43;
}
.flexBasisDemo1-right {
  flex-basis: 200px;
  background-color: #274a78;
}


/* footer
================================================== */
.footer {
  padding-top: 10px;
  background-image: url(../img/line-blue-bumpy-bottom.png);
}
.footer__inner {
  padding: 100px 1.5em 1em;
  text-align: center;
  background-image: linear-gradient(#192f60, #09182e);
}
.profile {
  margin-bottom: 100px;
}
.backSignboard {
  margin-bottom: 15px;
}
.backSignboard__link:hover {
  opacity: .7
}
.backSignboard__logo {
  width: 250px;
  height: auto;
}
.office {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: .1em;
  color: #fffffc;
}
.office a {
  text-decoration: none;
  color: inherit;
}
.office a:hover {
  opacity: .7
}
.copyright {
  color: #fffffc;
}
.copyrightHolder {
  text-decoration: none;
  color: inherit;
}
